importFrom(fs, "path_package")
importFrom(magrittr, "%>%")
export(readChromatogram.Thermo)
export(readSpectrum.Thermo)
export(fileInfo.Thermo)
export(readProcessing.Thermo)
export(processingThermo.componentName)
export(processingThermo.creatorInfo)
export(processingThermo.componentData)
export(getScans)
